main {
	margin: 60px 0px;
}

.AppFooter {
	background: #fafafa;
	bottom: 0;
	box-shadow: 0px 0px 6px 0px #424242;
	display: flex;
	align-items: center;
	justify-content: center;
	left: 0;
	position: fixed;
	right: 0;
	width: 100%;
}

.AppFooter .icon {
	padding: 12px 18px;
}

.AppHeader {
	background: #fafafa;
	box-shadow: 0px 0px 6px 0px #424242;
	display: flex;
	align-items: center;
	justify-content: center;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
}

.DMIcon {
	align-self: flex-end;
}

.icon {
	height: 24px;
	padding: 12px;
}

.IconLarge {
	display: flex;
	flex: 2;
	align-items: center;
}

.LoadingScreen {
	align-items: center;
	background-color: #fafafa;
	display: flex;
	justify-content: center;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
}

.Post {
	display: flex;
	flex-direction: column;
	margin: 12px 0px;
}

.PostActions {
	display: flex;
	justify-content: flex-start;
	padding: 6px 0px;
}

.PostActions .BookmarkIcon {
	margin-left: auto;
}

.PostActions .icon {
	padding: 6px;
}

.PostAvatar {
	background-color: #424242;
	background-size: cover;
	background-position: center;
	border-radius: 50%;
	height: 48px;
	width: 48px;
}

.PostComments p {
	margin: 6px;
}

.PostFakeLikers {
	background-color: #424242;
	border-radius: 50%;
	height: 24px;
	margin-right: -12px;
	width: 24px;
}

.PostHeader {
	align-items: center;
	display: flex;
	padding: 6px;
}

.PostHeader .MoreIcon {
	margin-left: auto;
	height: 18px;
}

.PostImage {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 240px;
	width: 100%;
}

.PostLikes {
	align-items: center;
	display: flex;
	padding: 6px;
}

.PostLikes p {
	margin: 0px 24px;
}

.PostProfileName {
	font-weight: 600;
	padding: 12px;
}

.PostTitle p {
	margin: 6px;
}

.textSecondaryColor {
	color: #696969;
}
